* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 98%;
    background: linear-gradient(rgba(90, 51, 90, 0.479), rgba(210, 115, 247, 0.6));
    margin: 0% 0.9%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #cccccc;
}

.card-introducao__titulo {
    color: rgb(19, 13, 20);
    font-size: 6px;
    padding: 10px;
    text-align: left;
    display: flex;
    align-items: center;
}

.card-introducao__titulo h3 {
    padding: 10px;
    color: rgb(107, 65, 114);
    font-family: 'Tangerine', serif;
    font-size: 20px;
    font-weight: lighter;
}

.card-introducao__titulo p {
    font-size: 10px;
}

.container-texto__paragrafos h2 {
    line-height: 1.0;
    font-size: 20px;
    margin: 3% 40% 3% 3%;
}

.container-texto__paragrafos {
    align-items: center;
}

.container-texto__paragrafos p {
    text-align: justify;
    margin: 1% 6% 10% 2%;
    padding-bottom: 5%;
    height: 100%;
    color: rgb(41, 39, 39);
    font-size: 17px;
    line-height: 1.0;
}

.container-trajetoria__paragrafo p {
    display: flex;
}

.container-texto_imagem {
    display: flex;
}

img {
    border-radius: 50%;
    margin: 3%;
    width: 40%;
}

.container-trajetoria__titulo {
    font-size: 20px;
    margin: 5% 1% 5%;
    padding: 5%;
}

.card-gostos__titulo {
    font-size: 25px;
    color: #20171f;
    margin-bottom: 30px;
}

.container-listas {
    justify-content: space-between;
}

.lista {
    width: 90%;
    margin: 10px;
    background-color: #A866AD;
    border-radius: 10px;
    padding: 16px;
    transition: 0.5s all;
    box-shadow: 5px 5px 9px #cccccc;
}

.lista:hover {
    transform: scale(1.1);
}

.lista h3 {
    color: #ffffff;
    font-size: 17px;
    text-align: center;
    margin-bottom: 20px;
}

.lista__item li {
    color: #ffffff;
    margin-bottom: 10px;
    list-style: none;
    display: flex;
}

.display-inline div {
    display: inline;
    background-color: blue;
    width: 100px;
    height: 100px;
}

.display-block div {
    display: block;
    width: 100px;
    background-color: brown;
    margin-bottom: 20px;
    height: 100px;
}

.display-inline-block div {
    display: inline-block;
    width: 100px;
    background-color: rgb(17, 85, 102);
    margin-bottom: 20px;
    height: 100px;
}

.campo-form {
    display: flex;
    flex-direction: column;
}

form {
    border: 2px solid #502f4c;
    padding: 20px;
    border-radius: 10px;
    align-items: initial;
}

label,
input {
    margin-bottom: 10px;
}

fieldset {
    border: 2px solid #502f4c;
    margin-top: 10px;
    margin-bottom: 10px;
}

secton#fale-conosco .card-fale-conosco {
    height: 100%;
}

.form-botao {
    display: flex;
    justify-content: center;
}

.form-botao input {
    border: 2px solid #ffffff;
    background-color: #502f4c;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px;
}

.card-fale-conosco {
    display: flex;
    flex-direction: inline;
    align-items: center;
    justify-content: space-between;
    max-height: 20%;
}

.card-fale-conosco h2 {
    font-size: 25px;
}