*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
}

.cabecalho{
    width: 100%;
    height: 80vh;
    background: linear-gradient(rgba(56, 44, 126, 0.5), rgba(99, 92, 204, 0.7)), url(https://vejasp.abril.com.br/wp-content/uploads/2018/08/capa5.jpg) no-repeat;
    background-size: cover;
}

.menu{
    width: 100%;
    background-color: #073d69;
    display: flex; 
    justify-content:space-between; 
    height: 60px;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    
} 
.banner{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.menu__logo{
    color: #ffffff;
    text-decoration: none;
    font-size: 30px;
}

.menu-navegacao{
    display: flex;
    list-style: none;
}

.menu-navegacao__link{
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
}
.menu-navegacao__link:hover{
    background-color: white;
    color: blue;
    border-radius: 10px;
}

.banner__titulo{
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 15px;
}

.banner__subtitulo{
    color: #ffffff;
    font-size: 20px;
}

main{
    width: 100%;
    background-color: rgb(243,239,239);
}

.card-introducao, .container-form, .card-gostos{
    padding: 4%;
}

.card-introducao__titulo{
    color: rgb(15, 13, 15);
    font-size: 30px;
    margin-bottom: 20px;
}

.container-texto{
    display: flex;
    align-items: center;
}

.container-texto__paragrafos{
    width: 60%;
    margin-right: 10%;
}

.container-texto__paragrafos p, .container-form__paragrafo p{
    color: rgb(41, 39, 39);
    font-size: 17px;
    margin-bottom: 17px;
    text-align: justify; 
}

.container-texto__imagem{
    width: 30%;
}

.container-form__titulo{
    font-size: 25px;
    margin-bottom: 30px;
    color: #f5f5f5;
}
.container-form {
  padding: 40px;
  border-radius: 10px;
  background-color: #073d69;
  margin: 0px 50px;
  text-align: center;
}
label {
    font-size: 20px;
    color:white;
}
form input:not(:last-child) {
    width: 36vh;
    height: 5.5vh;
    border-radius: 10px;
    border-color: none;
    font-size: 1rem ;
}
input::-webkit-outer-spin-submit,
input::-webkit-inner-spin-submit {
  -webkit-appearance: none;
  margin: 0;
}
form input[type="submit"]{
    background-color: #E5BC30;
    border-color: none;
    font-size: 1rem;
    padding: 8px 18px;
    border-radius: 10px;
    margin-left: 20px;
}
form input[type="submit"]:hover{
    background-color: white;
}

.card-gostos__titulo{
    font-size: 25px;
    color: #20171f;
    margin-bottom: 30px;
}

.container-listas{
    display: flex;
    justify-content: space-between; 
}

.lista{
    width: 60vh;
    background-color: #073d69;
    border-radius: 10px;
    padding: 16px;
    margin-left: 10px;
}

.lista h3{
    color: #ffffff;
    font-size: 17px;
    text-align: center;
    margin-bottom: 20px;
}

.sinopse, .sinopseMovie, .movieName, footer {
    color: white;
}
.movieName {
    font-size: 20px;
    text-align: center;
}
.sinopseMovie {
    text-align: justify;
}

.bannerMovie {
    width: 34vh;
    height: 50vh;
    margin: 2vh 10vh;
}

footer{
    text-align: center;
    padding: 20px;
    background-color: #073d69;
}
