* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
  
}
body {
  background-color: rgb(243, 239, 239);

}
.menu {
  width: 100%;
  background-color: #073d69;
  display: flex;
  justify-content: center;
  height: 4%;
  align-items: center;
  position: fixed;
}

.menu-nav {
  display: flex;
  list-style: none;
}

.menu-nav__link {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  margin: 60px;
}

.background-header {
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
}

.background-header-img {
  margin: 80px 100px 10px 100px;
  width: 80%;
  height: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
}

#background-header__text {
  text-align: center;
  background-color: #073d69;
  color: white;
  border-radius: 10px;
  padding: 20px 60px;
  margin-left: 100px;
  margin-bottom: 40px;

}

.background-header__title {
  font-size: 30px;
  margin-bottom: 10px;
}

.background-header__subtitle {
  font-size: 20px;
}

main {
  width: 100%;
}

.card-introducao,
.container-form,
.card-gostos {
  padding: 4%;
}

.card-introducao__titulo {
  color: rgb(15, 13, 15);
  font-size: 30px;
  margin-bottom: 20px;
}