* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
}
body {
  background-color: rgb(243, 239, 239);
}
.menu {
  width: 100%;
  background-color: #073d69;
  display: flex;
  justify-content: center;
  height: 4%;
  align-items: center;
  position: fixed;
}

.menu-nav {
  display: flex;
  list-style: none;
}

.menu-nav__link {
  color: #ffffff;
  text-decoration: none;
  font-size: 25px;
  padding: 10px;
  margin: 60px;
}

.background-header {
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
}

.background-header-img {
  margin: 80px 100px 10px 100px;
  width: 80%;
  height: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
}

#background-header__text {
  text-align: center;
  background-color: #073d69;
  color: white;
  border-radius: 10px;
  padding: 20px 60px;
  margin-left: 100px;
  margin-bottom: 40px;
}

.background-header__title {
  font-size: 30px;
  margin-bottom: 10px;
}

.background-header__subtitle {
  font-size: 20px;
}

main {
  width: 100%;
  background-color: rgb(224, 217, 217);
}

.card-introducao,
.container-form,
.card-gostos {
  padding: 4%;
}

.card-introducao__titulo {
  color: rgb(15, 13, 15);
  font-size: 30px;
  margin-bottom: 20px;
}

.container-texto__paragrafos {
  width: 100%;
  margin-right: 10px;
  display: flex;
  justify-content: space-around;
}
.container-texto__imagem {
  width: 100%;
  height: 150px;
}

.container-texto__paragrafos p,
.container-form__paragrafo p {
  color: rgb(41, 39, 39);
  font-size: 17px;
  margin-bottom: 17px;
  text-align: justify;
}

.container-texto__imagem {
  width: 30%;
}

.container-form {
  padding: 40px;
  border-radius: 10px;
  background-color: #073d69;
  margin: 0px 50px;
  flex-wrap: wrap;
}
.container-form__titulo {
  font-size: 20px;
  margin-bottom: 30px;
  color: #f5f5f5;
  text-align: center;
}

label {
  font-size: 25px;
  color: white;
  display: flex;
  margin: 20px 2px;
}
form input:not(:last-child) {
  width: 45vh;
  height: 5vh;
  border-radius: 10px;
  border-color: none;
  font-size: 20px;
}
input::-webkit-outer-spin-submit,
input::-webkit-inner-spin-submit {
  -webkit-appearance: none;
  margin: 0;
}
form input[type="submit"] {
  background-color: #e5bc30;
  border-color: none;
  font-size: 2rem;
  padding: 8px 18px;
  border-radius: 10px;
  width: 45vh;
}

.card-gostos__titulo {
  font-size: 25px;
  color: #20171f;
  margin-bottom: 30px;
}

.container-listas {
  display: flex;
  flex-wrap: wrap;
}

.lista {
  width: 60vh;
  background-color: #073d69;
  border-radius: 10px;
  padding: 16px;
  margin-bottom: 50px;
}

.lista h3 {
  color: #ffffff;
  font-size: 17px;
  text-align: center;
  margin-bottom: 20px;
}

.sinopse,
.sinopseMovie,
.movieName,
footer {
  color: white;
}
.movieName {
  font-size: 20px;
  text-align: center;
}
.sinopseMovie {
  text-align: justify;
  font-size: 14px;
}

.background-headerMovie {
  width: 38vh;
  height: 50vh;
  margin: 2vh 6vh;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #073d69;
}
