* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
}

.cabecalho {
    width: 100%;
    height: 80vh;
    background: rgba(161, 152, 145, 0.253) url(./img/banner.jpeg) no-repeat;
    background-size: cover;
}

.menu {
    width: 100%;
    background-color: darkgray;
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    padding: 0 20px;
    position: fixed;
}

.banner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu__logo {
    color: #ffffff;
    text-decoration: none;
    font-size: 30px;
}

.menu-navegacao {
    display: flex;
    list-style: none;
    font-size: 10rem;
}

.menu-navegacao__link {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    transition: 0.5s all;
    border-radius: 10px;
}

.menu-navegacao__link {
    background-color: rgba(192, 192, 192, 0.034);
}

.banner__titulo {
    color: white;
    font-size: 30px;
    margin-bottom: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
}

.banner__subtitulo {
    color: #ffffff;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    width: 90%;
    background-color: rgb(243, 239, 239);
    margin: 3% 5%;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 5px #502f4c46;
}

.container-trajetoria {
    background-color: darkgray;
}

.card-introducao,
.container-trajetoria,
.card-gostos {
    padding: 10%;
}

.card-introducao__titulo {
    color: #502f4c;
    font-size: 30px;
    margin-bottom: 40px;
    margin-top: 5px;
    margin-bottom: 3px;
}

.container-texto {
    display: flex;
    align-items: center;
}

.container-texto__paragrafos {
    width: 60%;
    margin-right: 10%;
}

.container-texto__paragrafos p,
.container-trajetoria__paragrafo p {
    color: rgb(41, 39, 39);
    font-size: 17px;
    margin-bottom: 17px;
    text-align: justify;
}

.container-texto__imagem {
    width: 30%;
}

.container-trajetoria__titulo {
    font-size: 25px;
    margin-bottom: 30px;
    color: #502f4c;
}

.card-gostos__titulo {
    font-size: 25px;
    color: #502f4c;
    margin-bottom: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-listas {
    display: flex;
    justify-content: space-between;
}

.lista {
    width: 30%;
    background-color: darkgray;
    border-radius: 10px;
    padding: 16px;
    transition: 0.5s;
    box-shadow: 5px 5px 9px silver;
}

.lista:hover {
    transform: scale(1.1);
}

.lista h3 {
    color: #ffffff;
    font-size: 17px;
    text-align: center;
    margin-bottom: 20px;
}

.lista__item li {
    color: #ffffff;
    margin-bottom: 10px;
    list-style: none;
}

.lista__item li::before {
    content: "❤";
    margin-right: 10px;
}

footer {
    text-align: center;
    padding: 50px;
    background-color: silver;
}

.display-inline div {
    display: inline;
    background-color: blue;
    width: 100px;
    height: 100px;
}

.display-block div {
    display: block;
    width: 100px;
    background-color: brown;
    margin-bottom: 20px;
    height: 100px;
}

.display-inline-block div {
    display: inline-block;
    width: 100px;
    background-color: rgb(17, 85, 102);
    margin-bottom: 20px;
    height: 100px;
}

.campo-form {
    display: flex;
    flex-direction: column;
}

form {
    width: 70%;
    border: 2px solid #7c4e77;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

label,
input {
    margin-bottom: 10px;
}

fieldset {
    border: 2px solid rgba(192, 192, 192, 0.171);
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-botao {
    display: flex;
    justify-content: center;
}

.form-botao input {
    border: 2px solid #ffffff;
    background-color: #502f4c;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px;
}

.card-fale-conosco {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.card-fale-conosco h2 {
    font-size: 25px;
    color: #502f4c;
    ;
    margin-bottom: 20px;
}

.menu-navegaçao__item,
.menu-navegacao__sobre,
.menu-navegacao__serviços {
    margin-right: 10px;
    font-size: 10%;
}

.caixa-links {
    height: 3%;
    width: 5%;
    display: flex;
    display: contents;
    padding: 50px;
    margin: 5px;
}

.icon {
    padding: 5px;
    width: 50px;
    padding-top: 20px;
}

.icon-face {
    height: 40px;
}

.container-listas {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.lista {
    width: 90%;
    background-color: darkgrey;
    border-radius: 10px;
    padding: 16px;
    transition: 0.5s all;
    box-shadow: 5px 5px 9px #ccc;
    margin-bottom: 4vh;
}

@media (min-width: 480px) {
    .container-texto__paragrafos {
        background-color: rgb(212, 196, 196);
    }
}