*{
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  background-color:blanchedalmond;
  padding: 20px;
}

h1{
  font-size: 2.2rem;
  width: 100%;
  text-align: center;
}

h1 + div{
  width: 100%;
}

div>p{
  font-size: 1.2rem;
  text-align: justify;
}

div>p:hover{
  color:aqua;
  font-weight: bolder;
}

input:first-child{
color: blueviolet;
}

.div-2{
  display:flex;
  flex-direction: column;
}

.div-2>input{
  margin: 15px;
}

.div-2>input:focus{
  background-color: white;
}

.div-3{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px;
}

.div-3>img{
  width: 90vw;
  max-width:800px;
  margin: 10px;
}

.div-3 + div{
  display: flex;
  flex-direction: column;
  border: thistle 2px solid;
}

div>a{
  text-decoration: none;
  color: blueviolet;
  font-size: 1.2rem;
}

div>a:hover{
  font-weight: bolder;
}

@media(min-width:768px){
  .div-3 + div{
    flex-direction: row;
    justify-content: center;
    border: none;
  }

 *{
   font-size: 16px;
   background-color: coral;
 }

}

@media(min-width:1280px){
  *{
    font-size: 18px;
    background-color: lavender;
  }

  .div-2>input{
    max-width: 20vw;
  }

  .div-2{
    flex-direction: row;
    justify-content: center;
  }
}